{{ define "main" }}
<div class="post-container intro-card">
  <div class="post-header">
    <h2 class="title">Welcome</h2>
  </div>
  <p>欢迎来到 Julio 个人blog，主要记录数理统计、机器学习、程序设计以及各种技术和日常思考。更多文章索引请浏览 <a href="/archives/">归档</a>、<a href="/categories/">分类</a> 和 <a href="/tags/">标签</a>。</p>
</div>

{{ $pag := .Paginate (where .Site.RegularPages "Section" "posts") }}
{{ range $pag.Pages }}
{{ $summary := .Summary -}}
{{ $summary = replaceRE `(?s)\$\$.+?\$\$` " [公式] " $summary -}}
{{ $summary = replaceRE `\$.+?\$` " [公式] " $summary -}}
{{ $summary = replaceRE `\$` "" $summary -}}
<article class="post-container">
  {{ partial "post-header.html" . }}
  <div class="post-content">{{ $summary | safeHTML }}</div>
  {{ if .Truncated }}
  <div class="read-more"><a href="{{ .Permalink }}">Read More &raquo;</a></div>
  {{ end }}
</article>
{{ end }}

{{ partial "pagination.html" (dict "paginator" $pag) }}
{{ end }}
